/*
 * All strings should be enclosed in quotes (single or double is fine).
 * Description comments preceed the variable they refer to declaration.
 * If you wish to leave a variable empty, it's best practice to include either an empty string ("")
 * or an empty list ([]) as appropriate. Otherwise the variable may take on the value of the variable 
 * succeeding it. 
 */

params {

    // ////////////////////////////////////////////////////
    // /* --              bcl2fastq                   -- */
    // ////////////////////////////////////////////////////

    // Path on sblab to run directory holding bcl files
    run_dir = "" 
    
    // Separate multiple email addresses by commas if desired
    emails = "" // "kathryn.pellegrini@emory.edu"
    
    /* 
     * Optional: manually specify sample sheets to use and output labels for files
     * if sample sheets are specified here, there should be a label too
     * E.g. sample_sheets = ["230331-B_p23063-demux.csv": "second_extraction",
     *                       "230331-B_p23063-demux-original.csv": "original_extraction"]
     * The script can run without specifications, in which case it will use all *demux*.csv ('demux' is case insensitive)
     * files as sample sheets and assign random numbers to the output folders
     * E.g. sample_sheets = []
     */
    sample_sheets = []

    // ////////////////////////////////////////////////////
    // /* --          bcl2fastq optional              -- */
    // ////////////////////////////////////////////////////

    // number of allowed mismatches per index (default 1)
    // Multiple, comma delimited, entries allowed. Each entry is applied to the corresponding index; last entry applies to all remaining indices.
    // Accepted values: 0, 1, 2. 
    // If you wish to use multiple entries, surround them in quotes
    barcode_mismatches = 1

    // Alternatively, you can rely on the pipeline to detect optimal barcode_mismatches on a per-sample barcode_mismatches
    // If this is set to true, this will override the barcode_mismatches argument
    auto_calculate_barcodes = false

    // ////////////////////////////////////////////////////
    // /* --          RESOURCE USE                    -- */
    // ////////////////////////////////////////////////////

    // delay workflow start in case you want to save resources. In hours
    delay_start = 0

    // These parameters can likely stay consistent from run to run, but may need occasional tweaking
    // maximum time to wait for RTAComplete file to appear (calculated after delay_start). In hours
    max_wait = 72
    
    // How often to check for RTAComplete file. In minutes
    wait_interval = 10
    
    // Remove temporary working direcotries on successful completeion (failed runs will not be deleted and can be resumed)
    cleanup = true
    
    // Maximum concurrent processes of bcl2fastq
    maxForks = 1

    // Compression level of fastq outputs, from 1-9 (default 4)
    compression = 4
    
    // Option to turn of md5sums if it's not needed, it can be slow
    compute_md5sums = true

}

notification {
    enabled = true
    to = params.emails
}

conda {
    enabled = true
}

// ////////////////////////////////////////////////////
// /* --              profiles                    -- */
// ////////////////////////////////////////////////////

profiles {
    local_asap {
        params.delay_start = 0
    }
    local_delayed {
        params.delay_start = 24
    }
    dev_test {
        params.run_dir = "/yerkes-cifs/runs/analyst/derrik/extractions_nextflow/test/210215_A00945_0089_AHWYYVDRXX/"
        params.sample_sheets = ['/yerkes-cifs/runs/analyst/derrik/extractions_nextflow/test/210215_A00945_0089_AHWYYVDRXX/230519-A_Lane1_p23060-demux.csv': 'test1']
        params.compute_md5sums = false
        params.emails = ''
        params.auto_calculate_barcodes = true
        notification.enabled = false
    }
}


// ////////////////////////////////////////////////////
// /* --   development, don't worry about these   -- */
// ////////////////////////////////////////////////////
/*
    run_name = "extractions_test_PE"
    //bcl extraction
    perform_extraction = true
    perform_bcl_S3_sync = false
    perform_fastq_s3_sync = false
*/

// plugins {
//     id = 'nf-amazon'
// }

// AWS
//aws {
//    accessKey = 'ASIATC4IJWHOVKNVEWN7'
//    secretKey = 'C63wY5bjnG9kdXJ1fNSV/tnZFidEsQLk831uXUd7'
//    region = 'us-east-1a'
//}

